{% extends "layout.html" %}

{% block title %}Armies{% endblock %}

{% block content %}
{% if session.username %}
    <h2>Armies</h2>

    <ul>
        {% for army in armies %}
        <li> <a href="/army/{{ army.armyid }}">{{ army.armyname }}</a>, {{ army.armysize }} pts 
            <form class="editForm" action="/army/{{ army.armyid }}" method="POST"> 
                <input type="submit" value="Delete">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form> 
        </li>
        {% endfor %}
    </ul>
    <hr class="big-gap-hr">
    <p>Archived armies</p>
    <ul>
        {% for army in hidden_armies %}
        <li class="staticListItem"> {{ army.armyname }}, {{ army.armysize }} pts
        {% endfor %}
    </ul>
    <hr class="big-gap-hr">
    <h4>Create a new Army</h4>
    <form class="inputForm" action="/armies" method="POST" onsubmit="return checkArmy(this)">
        Army name: <input type="text" name="army_name">
        Army max size (in points): <input type="number" name="army_size">
        <input type="submit" value="Create a new Army">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>
    {{ message }}
{% else %}
    <p>Please, <a href="/">log in</a></p>
{% endif %}

<script>
    function checkArmy(form) {
        if (form.army_name.value.length < 3 | form.army_name.value.length > 64) {
            alert("Match name must be 3-64 charaters long");
            return false;
        }
        if (form.army_size.value.length < 3 | form.army_size.value.length > 6) {
            alert("Match size must be between 100 - 999 999");
            return false;
        }
        return true;
    }
</script>

{% endblock %}