{% extends "layout.html" %}

{% block title %}Armies{% endblock %}

{% block content %}
{% if session.username %}
    <ul>
        {% for army in armies %}
        <li> <a href="/army/{{ army.armyid }}">{{ army.armyname }}</a>, {{ army.armysize }} pts 
            <form action="/army/{{ army.armyid }}" method="POST"> 
                <input type="submit" value="Delete">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form> 
        </li>
        {% endfor %}
    </ul>
    <hr>
    <p>Archived armies</p>
    <ul>
        {% for army in hidden_armies %}
        <li> {{ army.armyname }}, {{ army.armysize }} pts
        {% endfor %}
    </ul>
    <hr>
    <form action="/armies" method="POST">
        Army name: <input type="text" name="army_name">
        Army max size (in points): <input type="number" name="army_size">
        <input type="submit" value="Create a new Army">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>
    {{ message }}
{% else %}
    <p>Please, <a href="/">log in</a></p>
{% endif %}
{% endblock %}