{% extends "layout.html" %}

{% block title %}Army {{ army.armyname }}{% endblock %}

{% block content %}
{% if session.username %}
    <h2>{{ army.armyname }} - {{ army.armysize }} pts</h2>
    Units
    <ul>
        {% for unit in units %}
        <li> {{ unit.unitname }}, {{ unit.points }} pts
            <form action="/managearmyunits" method="POST">
                <input type="submit" value="Remove">
                <input type="hidden" name="unit_id" value="{{ unit.unitid }}">
                <input type="hidden" name="army_id" value="{{ army.armyid }}">
                <input type="hidden" name="operation_type" value="detach">
            </form>
        {% endfor %}
    </ul>
    <hr>
    <form action="/managearmyunits" method="POST">
        Unit name: <input type="text" name="unit_name">
        Unit points cost: <input type="number" name="unit_points">
        <input type="submit" value="Add a Unit">
        <input type="hidden" name="army_id" value="{{ army.armyid }}">
        <input type="hidden" name="operation_type" value="attach">
    </form>
    <br>
    {{ message }}
{% else %}
    <p>Please, <a href="/">log in</a></p>
{% endif %}
{% endblock %}