{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h3>Welcome!</h3>
<p>In this App, you can keep track of your matches with and armies of miniatures.</p>
{% if session.username %}
    <p>You are logged in, feel free to start using the app!</p>
{% else %}
    <form action="/" method="POST">
        <p>Username:<br>
        <input type="username" name="username"></p>
        <p>Password:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Log in">
    </form>
    <form action="/register">
        <input type="submit" value="Create a new User">
    </form>
    <br>
    {{ message }}
{% endif %}
{% endblock %}