{% extends "layout.html" %}

{% block title %}Matches{% endblock %}

{% block content %}
{% if session.username %}
    <ul>
        {% for match in matches %}
        <li> <a href="/match/{{ match.matchid }}">{{ match.matchname }}</a> , {{ match.matchsize }} pts
        {% endfor %}
    </ul>
    <hr>
    <form action="/matches" method="POST">
        Match name: <input type="text" name="match_name">
        Match size (in points): <input type="number" name="match_size">
        <input type="submit" value="Create a new Match">
    </form>
    <br>
    {{ message }}
{% else %}
    <p>Please, <a href="/">log in</a></p>
{% endif %}
{% endblock %}