{% extends "layout.html" %}

{% block title %}Units{% endblock %}

{% block content %}
{% if session.username %}
    <h2>Units</h2>

    <ul>
        {% for unit in units %}
        <li class="staticListItem"> {{ unit.unitname }}, {{ unit.points }} pts 
            <form class="editForm" action="/unit/{{ unit.unitid }}" method="POST"> 
                <input type="submit" value="Delete">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form> 
        </li>
        {% endfor %}
    </ul>
    <hr class="big-gap-hr">
    <p>Archived units</p>
    <ul>
        {% for unit in hidden_units %}
        <li class="staticListItem"> {{ unit.unitname }}, {{ unit.points }} pts
        {% endfor %}
    </ul>
    <hr class="big-gap-hr">
    <h4>Create a new Unit</h4>
    <p class="infoPara">Add a Unit. A Unit represents a troop of fighters, a squadron of vehicles, or a single powerful engine of war. 
        A Unit has a name and a points cost. 
        A Unit's name must be between 3 and 64 characters, and contains only numbers or letters.
        Unit's points cost is a number between 0 and 1 000.

        You can use existing Units by inputting matching information.
        You can return an archived Unit by inputting its information.
    </p>
    <form class="inputForm" action="/units" method="POST" onsubmit="return checkUnit(this)">
        Unit name: <input type="text" name="unit_name">
        Unit cost (in points): <input type="number" name="unit_points">
        <input type="submit" value="Create a new Unit">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>
    {{ message }}
{% else %}
    <p>Please, <a href="/">log in</a></p>
{% endif %}

<script>
    function checkUnit(form) {
        if (form.unit_name.value.length < 3 | form.unit_name.value.length > 64) {
            alert("Match name must be 3-64 charaters long");
            return false;
        }
        if (form.unit_points.value < 0 | form.unit_points.value > 10000) {
            alert("Match size must be between 0 - 9 999");
            return false;
        }
        return true;
    }
</script>

{% endblock %}